section {
    height: 40vh;
    width: 100%;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

/* Section 1 */

.section-1 {
    margin-bottom: -4%;
}

.section-1 .heading-1 {
    color: #209cff;
    font-weight: bold;
}


/* Section 2 */

.section-2 .container-fluid {
    background-image: url("../assets/hombre2.jpg");
    background-size: cover;
    background-attachment: fixed;
}

.section-2 .heading-1 {
    margin-top: 30%;
    margin-bottom: 4%;
    font-family: var(--Rubik);
    width: 0%;
    color: whitesmoke;
    margin-left: 6vmin;
}

.section-2 .para {
    width: 80%;
    font-family: var(--Rubik);
    color: whitesmoke;
    margin-bottom: 10%;
    margin-left: 6vmin;
}



/* Section 3 */

.section-3 .heading-1 {
    color: #209cff;
    font-weight: bold;
    padding-bottom: 4%;
}

.section-3 {
    margin-top: 6%;
    margin-bottom: 8%;
}

.section-3 i {
    color: #209cff;
}

.section-3 p {
    color: rgba(0, 0, 0, 0.59);
}